<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">

    <Properties>
        <Property name="log.path">./logs</Property>
        <Property name="log.pattern">%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5p] [%t] %c{1} - %m%n</Property>
    </Properties>

    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${log.pattern}"/>
        </Console>

        <!-- Rolling File Appender -->
        <RollingFile name="RollingFileAppender" fileName="${log.path}/automation.log"
                     filePattern="${log.path}/automation-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${log.pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Suppress verbose logs -->
        <Logger name="org.openqa.selenium" level="WARN"/>
        <Logger name="org.apache.http" level="WARN"/>
        <Logger name="com.aventstack" level="INFO"/>

        <!-- Application loggers -->
        <Logger name="com.rajbele.automation" level="INFO"/>

        <!-- Root Logger -->
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFileAppender"/>
        </Root>
    </Loggers>

</Configuration>
